imports:
    - { resource: parameters_test.yml }
    - { resource: config_dev.yml }

framework:
    test: ~
    session:
        storage_id: session.storage.mock_file
    profiler:
        collect: false

web_profiler:
    toolbar: false
    intercept_redirects: false

swiftmailer:
    disable_delivery: true
    
# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host_test%"
        port:     "%database_port_test%"
        dbname:   "%database_name_test%"
        user:     "%database_user_test%"
        password: "%database_password_test%"
        charset:  UTF8
    
    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
