{% extends 'KijhoMaileBundle:Default:main.html.twig' %}
{% block title %}Layouts{% endblock %}
{% block main_content %}
    <h1>Layouts</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Creation Date</th>
                <th>Language</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for layout in layouts %}
                <tr>
                    <td>{{layout.name}}</td>
                    <td>{{layout.creationDate|date('m/d/Y')}}</td>
                    <td>{{layout.languageCode}}</td>
                    <td><a href='#'>Show</a>
                        &nbsp;<a href='#'>Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No layouts.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
