<html>
    <head>
        <meta charset="UTF8"/>
    </head>
    <body>
        {% if kijhoEmail.template.layout is not empty %}
            {{kijhoEmail.template.layout.header|raw}}<br>
        {% endif %}

        {{ kijhoEmail.content | raw | evaluate }}       

        {% if kijhoEmail.template.layout is not empty %}
            <br>{{kijhoEmail.template.layout.footer|raw}}
        {% endif %}

    </body>
</html>